################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.vs/
bin/
!/Dev/bin/Resources/
packages/
obj/
/Documents/out/